<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WTH should I xxx today? Admin</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Diretives for bored people; Find xxx to do; Provide suggestions">
    <meta name="keywords" content="wth, suggest, recommend, things, bored, what, should, i, xxx, today, what should i xxx today">
    <meta name="robots" content="index, follow">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body ng-app="TodoApp">
    <%- body %>
  <!--TEMPLATES-->
  
  <!--TEMPLATES END-->

  <!--SCRIPTS-->
  <script src="/js/dependencies/sails.io.js"></script>
  <script src="/js/dependencies/angular/angular.js"></script>
  <script src="/js/admin.js"></script>
  <!--SCRIPTS END-->
  </body>
</html>
