<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Diretives for bored people; Find things to do; Provide suggestions">
    <meta name="keywords" content="wth, suggest, recommend, things, bored, what, should, i, do, today, what should i do today">
    <meta name="robots" content="index, follow">

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->
  </body>
</html>
